<form method="POST" enctype="multipart/form-data">
  <textarea name="content" placeholder="The content for your post..."></textarea>
  
  <input type="file" name="contentPicture" placeholder="Add a picture...">

  <button>Create Post</button>
</form>